<div class='d-flex justify-content-around pb-5'>
  <h2>Your Blog Posts</h2>
  <button type='submit' class='btn'><a
      class='link-dark h3'
      href='/newblog'
    >Create New Blog Post</a></button>
</div>

<div id='blogDelete'>
  {{#each blogs as |blog|}}
    <div class='row mb-4 border border-dark blog'>
      <div class='col-md-5'>
        <h4 class='bg-dark text-white mb-0 p-1'>
          <a class='link-light' href='/blog/{{blog.id}}'>{{blog.blog_title}}</a>
        </h4>
        <p class='bg-dark text-white p-1'>Created on
          {{format_date date_created}}</p>
        <p>{{blog.blog_body}}</p>

      </div>
      <div class='d-flex justify-content-around'>
        <button class='editBtn' style='background-color: green;'><a
            href='/editblog'
            class='link-light'
          >edit blog</a></button>

        <button
          class='deleteBtn'
          data-id='{{blog.id}}'
          style='background-color: red;'
        ><a href='' class='link-light'>delete blog</a></button>
      </div>
    </div>
  {{/each}}
</div>

<script src='/js/profile.js'></script>